 <div id="main">
  <h1> Welcome <%= @user.name %></h1>
  <p>
  <% if current_user %>
 <p>
  <a href='/posts/new'>Create new Blog Post</a>
  </p>
  <% end %>

  <% @posts.each do |post| %>
  <p id="title"><%= post.title %> </p>
  <p id="content"><%= post.content %> </p> <br>
  <% if current_user %>
    <a href="/posts/<%= post.id %>">Show Post</a>
    <a href="/posts/<%= post.id %>/edit">Edit</a>
    <form action="/posts/<%= post.id %>" method="post">
      <input type="hidden" name= "_method" value="delete">
      <input type="submit" value= "Delete" >
    </form>
  <% end %>
  <!-- <a href= "/posts/<%= post.id %>">Show</a>
  <a href= "/posts/<%= post.id %>/edit">Edit</a>
   -->

  <!-- <form action="/posts/<%= post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form> -->
  <% end %>
</div>